{
  "printWidth": 100,
  "singleQuote": true,
  "semi": false,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "parser": "css"
      }
    }
  ]
}
